@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/gilroy/Gilroy-Light.woff') format('woff'),
        url('../fonts/gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/gilroy/Gilroy-Bold.woff') format('woff'),
        url('../fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/gilroy/Gilroy-Regular.woff') format('woff'),
        url('../fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/gilroy/Gilroy-Medium.woff') format('woff'),
        url('../fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Playfair Display', serif;
    font-family: 'Gilroy', serif;
}
h2 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 139.4%;
    letter-spacing: 9.7px;
    text-transform: uppercase;
    color: #FF9900;
}
h3 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 139.4%;
    letter-spacing: 0.2px;
}
.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

/* burger menu */
.mobile__menu {
    display: none;
}
.burger__menu.burger__active span{
    background-color: transparent;
}
.burger__menu.burger__active span::before {
    top: 0;
    transform: rotate(45deg);
}
.burger__menu.burger__active span::after {
    top: 0;
    transform: rotate(-45deg);
}
.burger__menu {
    display: block;
    position: relative;
    width: 80px;
    height: 100%;
    border-left: 1px solid white;
}
.burger__menu span, .burger__menu span::before, .burger__menu span::after {
    width: 18px;
    height: 2px;
    background: white;
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 9px);
    transition: all 0.3s ease;
}
.burger__menu span::after, .burger__menu span::before {
    content: "";
}
.burger__menu span::after {
    transform: translateY(4px);
}
.burger__menu span::before {
    transform: translateY(-4px);
}

.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0) 100%), url(../img/background_header.jpg) no-repeat center center / cover;
}
.header__main {
    padding-bottom: 50px;
    margin-bottom: 200px;
}
.contacts {
    background: rgba(0, 0, 0, 0.31);
    height: 54px;
}
.contacts .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.phones {
    margin-right: 105px;
}
.phones a {
    text-decoration: none;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}
.phones a:first-child {
    margin-right: 46px;
}
.social {
    display: flex;
}
.social a {
    text-decoration: none;
}
.contacts .social a {
    margin-right: 22px;
}
.contacts .social a:last-child {
    margin-right: 0px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header-menu .menu ul{
    display: flex;
    padding: 0;
}
.header-menu .menu ul li{
    margin-right: 60px;
    list-style-type: none;
}
.header-menu .menu ul li:last-child{
    margin-right: 0px;
}
.header-menu .menu ul li a {
    text-decoration: none;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 80px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}
.header-menu .menu ul li a:hover {
    color: #FF9900;
    border-bottom: 2px solid #FF9900;;
}
.header-menu__button {
    outline:none;
    width: 167px;
    height: 40px;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    color: #FF9900;
    border: 2px solid #FF9900;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.015em;
    
}
.header-menu__button:hover {
    border: none;
    background: #FF9900;
    box-shadow: 1px 1px 18px 4px rgba(255, 153, 0, 0.32);
    color: #FFFFFF;
}
.header__info-button {
    outline:none;
    width: 167px;
    height: 40px;
    cursor: pointer;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.015em;
    border: none;
    background: #FF9900;
    box-shadow: 1px 1px 18px 4px rgba(255, 153, 0, 0.32);
    color: #FFFFFF;
}
.header__info-button:hover {
    background: #a36302;
    color: rgb(207, 207, 207);
}
.header__info {
    max-width: 860px;
    margin: 136px auto 0 auto;
}
.header__info-title {
    margin-bottom: 30px;
    color: #FFFFFF;
}

.header__info-text {
    margin-bottom: 60px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 139.4%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.header__benefits {
    border-top: 1px solid rgba(255, 255, 255, 0.46);
    min-height: 170px;
    backdrop-filter: blur(26px);
    padding-top: 40px;
    padding-bottom: 40px;
}
.benefits {
    height: 100%;
}
.benefits.container ul {
    min-height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.benefits.container ul li {
    height: 92px;
    list-style-type: none;
    max-width: 178px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 139.4%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.benefits.container ul li:first-child {
    padding-top: 10px;
    background: url('../img/business\ 1.svg') no-repeat right;
}
.benefits.container ul li:nth-child(2) {
    padding-top: 10px;
    background: url('../img/money-bag\ 1.svg') no-repeat right;
}
.benefits.container ul li:nth-child(3) {
    background: url('../img/business-report\ 1.svg') no-repeat right;
}
.benefits.container ul li:nth-child(4) {
    padding-top: 10px;
    background: url('../img/fast\ 2.svg') no-repeat right;
}
.benefits.container ul li:last-child {
    padding-top: 10px;
    background: url('../img/guarantee\ 1.svg') no-repeat right;
}

.about-us {
    position: relative;
    overflow: hidden;
    min-height: 766px;
    background: url('../img/two-bedroom-x2--plan\ 2.svg') right bottom -180px no-repeat;
}
.about-us__img {
    position: absolute;
    max-width: 543px;
    right: 64%;
}

.about-us__img .years {
    right: -1px;
    bottom: 3px;
    background: #FFB800;
    mix-blend-mode: normal;
    position: absolute;
    z-index: 3;
    width: 50%;
    height: 34%;
}
.years p {
    max-width: 112px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 139.4%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0 auto;
}
.years p span {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 139.4%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.about-us__info {
    padding-top: 148px;
    max-width: 542px;
    margin: 0 80px 0 auto;
}
.about-us__info-title h2 {
    margin-bottom: 8px;
}
.about-us__info-title h3 {
    margin-bottom: 28px;
}
.about-us__info-text p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 139.4%;
    letter-spacing: 0.2px;
    color: #7C7C7C;
}
.about-us__info-text p:first-child {
    padding-bottom: 20px;
}

.stages {
    background: black;
    padding-top: 65px;
    padding-bottom: 100px;
}
.stages__title {
    margin-bottom: 65px;
}
.stages__title h2 {
    font-size: 18px;
}
.stages__title h3{
    margin-top: 8px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 139.4%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.stages__diagrams {
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}
.stages__diagrams-item {
    text-align: center;
}
.circle {
    position: relative;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin: 0 auto 30px auto;
    border: 1px solid white;
}
.circle::before {
    position: absolute;
    right: 0px;
    top: -3px;
}
.stages__diagrams-item:first-child .circle::before {
    content: url(../img/Subtract.svg);
}
.stages__diagrams-item:nth-child(2) .circle::before {
    content: url(../img/Subtract\ \(1\).svg);
    right: -4px;
    top: -4px;
}
.stages__diagrams-item:nth-child(3) .circle::before {
    content: url(../img/Subtract\ \(2\).svg);
    right: -2px;
}
.stages__diagrams-item:nth-child(4) .circle::before {
    content: url(../img/Subtract\ \(3\).svg);
    right: -2px;
    top: -2px;
}
.stages__diagrams-item:nth-child(5) .circle::before {
    content: url(../img/Subtract\ \(4\).svg);
    right: -2px;
}
.stages__diagrams-item:last-child .circle::before {
    content: url(../img/Subtract\ \(5\).svg);
    right: -2px;
}
.circle span {
    color: white;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px
}
.stages__diagrams-item p{
    color: white;
}


.portfolio {
    position: relative;
    padding-top: 100px;
    overflow: hidden;
}
.portfolio__title {
    max-width: 310px;
    margin: 0 auto;
    text-align: center;
}
.portfolio__desc {
    display: flex;
    justify-content: space-between;
}
.portfolio__desc.container__bl {
    padding-right: 0;
}
.portfolio__projects {
    width: 45%;;
    margin-right: 30px;
}
.portfolio__slider {
    /* position: relative; */
    margin-top: 40px;
    width: 55%;
    display: flex;
    justify-content: space-between;
    min-width: 0;
}
.portfolio__slider-bg img{
    max-height: 540px;
    object-fit: cover;
}
.project {
    position: relative;
}
.project__plan {
    position: absolute;
    bottom: -360px;
    left: 10%;
}
.project__desc {
    padding-top: 160px;
}
.project-name {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 139.4%;
    letter-spacing: 0.2px;
    color: #000000;
    margin-bottom: 24px;
}
.project-desc p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 139.4%;
    letter-spacing: 0.2px;
    color: #000000;
}
.project-info {
    margin-bottom: 30px;
}
.term, .area {
    margin-bottom: 12px;
    font-weight: bold;
}
.project__desc span{
    font-weight: normal;
    font-size: 20px;
}
.portfolio__slider-sm {
    margin-right: 5px;
    min-height: 0;
    max-width: 102px;
}
.slide-sm {
    height: 105px;
}
.portfolio__slider-bg {
    min-width: 0;
    position: relative;
}

.portfolio__slider-bg .slick-list {
    overflow: hidden;
}
.portfolio__slider-bg .slick-track{
    display: flex;
}
.portfolio__slider-bg .slick-arrow{
    width: 12px;
    outline: none;
    border: none;
    height: 24px;
    font-size: 0;
    position: absolute;
    bottom: 33px;
    z-index: 5;
}
.portfolio__slider-bg .slick-arrow.slick-prev {
    right: 85px;;
    background: url(../img/arrow_l_1.svg) 0 0 / 100% no-repeat;
}
.portfolio__slider-bg .slick-arrow.slick-next {
    right: 35px;
    background: url(../img/arrow_r_1.svg) 0 0 / 100% no-repeat;
}
.portfolio__slider-bg .slick-arrow.slick-next:hover {
    cursor: pointer;
    background: url(../img/arrow_r.svg) 00 / 100% no-repeat;
}
.portfolio__slider-bg .slick-arrow.slick-prev:hover {
    cursor: pointer;
    background: url(../img/arrow_l.svg) 00 / 100% no-repeat;
}

.portfolio__slider-bg .slick-dots{
    background: #FFB800;
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 20%;
}
.portfolio__slider-bg .slick-dots li{
    margin-right: 23px;
    list-style: none;
}

.portfolio__slider-bg .slick-dots li button{
    font-size: 0;
    border: none;
    padding: 0;
    outline: none;
    width: 6px;
    height: 6px;
    background: rgba(255, 255, 255, 0.45);
    mix-blend-mode: normal;
    border-radius: 50%;
}
.portfolio__slider-bg .slick-dots li button:hover {
    cursor: pointer;
}
.portfolio__slider-bg .slick-dots li.slick-active button{
    background-color: white;
    width: 9px;
    height: 9px;
}
div.slick-list.draggable {
    overflow: hidden;
}


.reviews {
    position: relative;
    text-align: center;
    background: url('../img/handyman-uses-jackhammer-for-installation-professional-worker-on-the-construction-site-the-concept-of-electrician-and-handyman\ 1.jpg') no-repeat center center / cover;
}

.reviews__container {
    background: rgba(255, 255, 255, 0.1);
    max-width: 766px;
    padding: 75px;
    margin: 0 auto;
    min-height: 671px;
    backdrop-filter: blur(26px);
}
.reviews-title h2 {
    margin-bottom: 8px;
}
.reviews-title h3{
    max-width: 400px;
    color: white;
    margin: 0 auto 100px auto;
}

.reviews__text {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.reviews__avtor-name {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin-bottom: 100px;
}
.reviews__slider {
    position: relative;
}
.reviews__slider .slick-arrow {
    width: 12px;
    outline: none;
    border: none;
    height: 24px;
    font-size: 0;
    position: absolute;
    bottom: 0;
    z-index: 5;
}
.reviews__slider .slick-arrow.slick-prev {
    left: 20%;
    background: url(../img/arrow_l_1.svg) 0 0 / 100% no-repeat;
}
.reviews__slider .slick-arrow.slick-next {
    right: 20%;
    background: url(../img/arrow_r_1.svg) 0 0 / 100% no-repeat;
}
.reviews__slider .slick-arrow.slick-next:hover {
    cursor: pointer;
    background: url(../img/arrow_r.svg) 00 / 100% no-repeat;
}
.reviews__slider .slick-arrow.slick-prev:hover {
    cursor: pointer;
    background: url(../img/arrow_l.svg) 00 / 100% no-repeat;
}
.reviews .slick-list {
    overflow: hidden;
}
.reviews .slick-track{
    display: flex;
    align-items: flex-start;
}

.reviews .slick-slide{
    outline: none;
}

.reviews__slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 30px;
}
.reviews__slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;
}
.reviews__slider .slick-dots li button{
    font-size: 0;
    border: none;
    padding: 0;
    outline: none;
    width: 6px;
    height: 6px;
    background: rgba(196, 196, 196, 0.45);
    mix-blend-mode: normal;
    border-radius: 50%;
}
.reviews__slider .slick-dots li.slick-active button{
    background-color: #FF9900;
    width: 9px;
    height: 9px;
}
.contact-us {
    background: #FFB800;
    color: #FFFFFF;
}
.container__contact-us {
    max-width: 766px;
    padding: 40px 15px;
    margin: 0 auto;
}
.contact-u__title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
}
.container__contact-us p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.005em;
}
.contact-us input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.07em;
    color: rgba(255, 255, 255, 0.72);
}
.contact-us input:focus {
    outline: none;
    border-bottom: 1px solid black;
}
.form__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 100px;
    row-gap: 30px;
    padding: 40px 0px;
}

.contact-us form input::placeholder {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.07em;
    color: rgba(255, 255, 255, 0.72);
}
.user-name {
    grid-row: 1/2;
    grid-column: 1/2;
}
.form__grid textarea {
    grid-column: span 2;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.07em;
    color: rgba(255, 255, 255, 0.72);
    resize: none;
}
.form__grid textarea::placeholder {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.07em;
    color: rgba(255, 255, 255, 0.72);
}
.form__grid textarea:focus {
    outline: none;
    border-bottom: 1px solid black;
}
.contact-us__button {
    outline: none;
    border: none;
    width: 128px;
    height: 42px;
    background: white;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFB800;
}
.contact-us__button:hover {
    cursor: pointer;
    background-color: rgb(221, 218, 218);
    box-shadow: 1px 1px 18px 4px rgba(255, 153, 0, 0.32);
}


footer {
    background: black;
    color: white;
}
.container__bl {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.footer__flex {
    padding-top: 114px;
    padding-bottom: 92px;
    display: flex;
    justify-content: space-between;
}
.footer__logo {
    max-width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__logo img {
    width: 80px;
    margin-bottom: 8px;
}
.footer__nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    height: 100%;
}
.footer__nav ul li {
    list-style-type: none;
}
.footer__contact {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer .social {
    flex-direction: column;
}
.footer .social a{
    margin-bottom: 22px;
}
.footer .social a:last-child{
    margin-bottom: 0px;
}
.footer__flex .social a svg path{
    fill: rgba(255, 255, 255, 0.2);
}
.social a:hover svg path{
    fill: #FFB800;
}

.footer__flex a {
    text-decoration: none;
    color: white;
}
.footer hr {
    border: none;
    background-color: rgba(255, 255, 255, 0.29);
    height: 1px;
}
.footer__foot {
    height: 48px;
}
.footer__foot p{
    margin-top: 14px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.005em;
    color: rgba(255, 255, 255, 0.29);
}


@media(max-width: 1024px) {
    .header-menu .menu ul li{
        margin-right: 30px;
    }
    .about-us__info {
        margin: 0 30px 0 auto;
    }
    .benefits.container ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    .benefits.container ul li {
        margin-right: 100px;
        margin-bottom: 50px;
    }
    .benefits.container ul li:nth-child(3) {
        margin-right: 0;
    }
    .benefits.container ul li:last-child {
        margin-bottom: 0px;
        margin-right: 0;
    }
    .benefits.container ul li:nth-child(4) {
        margin-bottom: 0px;
    }
}
@media(max-width: 991px) {
    .header {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0) 100%), url(../img/background_header_1000px.jpg) no-repeat center center / cover;
    }
    .header .contacts {
        display: none;
    }
    .header-menu {
        display: none;
    }
    .header-menu__button {
        display: none;
    }
    .contacts.burger__active {
        display: block;
        position: absolute;
        right: 0;
        top: 114px;
        z-index: 102;
        height: auto;
        background: none;
    }
    .contacts.contacts.burger__active .container {
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
    }
    .contacts.contacts.burger__active .phones {
        margin: 0;
    }
    .contacts.contacts.burger__active .phones a:first-child {
        margin-right: 0px;
    }
    .contacts.contacts.burger__active .phones a {
        display: block;
        font-size: 26px;
        line-height: 60px;
    }
    .contacts.contacts.burger__active .social svg {
        margin-top: 20px;
        width: 40px;
        height: 40px;
    }
    .header-menu__button.burger__active {
        display: block;
        position: absolute;
        left: 45px;
        top: 424px;
        z-index: 100;
        width: 200px;
        height: 50px;
        font-size: 20px;
    }
    .mobile__menu {
        display: block;
        height: 100%;
    }
    .header__menu {
        position: absolute;
        z-index: 99;
        top: 0;
        right: 0;
        left: 0;
        padding: 0 0 0 15px;
        background: #000000;
        box-shadow: 0px 4px 16px rgba(44, 50, 65, 0.08);
        
    }
    .header-menu.burger__active {
        border-top: 1px solid rgba(255, 255, 255);
        align-items: center;
        padding: 25px 15px 25px 15px;
        margin-left: -15px;
        display: block;
        position: absolute;
        background: black;
        width: 100%;
        top: 80px;
        height: 800px;
        z-index: 3;
    }
    .header-menu.burger__active .menu ul {
        flex-direction: column;
        text-align: start;
        padding-left: 30px;
    }
    .header-menu.burger__active .menu ul li{
        margin-right: 0;
    }
    .header-menu.burger__active .menu ul li a{
        font-size: 36px;
        line-height: 60px;
    }
    .header__main.container {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 120px;
    }
    .header__info {
        padding: 0 15px;
        margin-top: 0;
        padding-top: 140px;
    }
    .about-us {
        min-height: 600px;
    }
    .about-us__img img {
        max-height: 600px;
    }
    .about-us__info {
        padding-left: 15px;
        padding-top: 80px;
        max-width: 442px;
        margin: 0 30px 0 auto;
    }
    .stages__diagrams {
        gap: 30px;
    }
    .stages__diagrams-item {
        grid-column: span 2;
    }
    .portfolio {
        padding-top: 60px;
    }
    .portfolio__projects {
        width: 100%;
        padding-right: 15px;
        margin: 0;
    }
    .project__desc {
        padding-top: 40px;
    }
    .portfolio__desc {
        flex-direction: column;
    }
    .project__plan {
        bottom: -180px;
        left: 20%;
    }
    .project__plan img {
        width: 500px;
    }
    .portfolio__slider {
        width: 100%;
    }
    .portfolio__slider-sm {
        margin-right: 10px;
    }
    .reviews {
        background: url(../img/handyman-uses-jackhammer-for-installation-professional-worker-on-the-construction-site-the-concept-of-electrician-and-handyman\ 1_1000px.jpg) no-repeat center center / cover;
    }
}
@media(max-width: 767px) {
    
    .header__info {
        text-align: center;
    }
    .header__info-button {
        width: 420px;
        height: 50px;
    }
    .header__main.container {
        margin-bottom: 90px;
    }
    .benefits.container ul {
        padding: 0 34px 0 34px;
        justify-content: space-between;
    }
    .benefits.container ul li {
        width: 34%;
        margin-right: 0;
        margin-bottom: 50px;
        max-width: none;
    }
    .benefits.container ul li:nth-child(4) {
        margin-bottom: 50px;
    }
    .about-us {
        display: flex;
        flex-direction: column-reverse;
    }
    .about-us__img {
        position: relative;
        max-width: 767px;
        right: 0;
    }
    .about-us__img img {
        display: block;
        width: 100%;
        max-height: 370px;
        object-fit: cover;
    }
    .about-us__img .years {
        bottom: 0px;
        right: 0px;
        position: absolute;
        z-index: 3;
        width: 30%;
        height: 50%;
    }
    .about-us__info {
        padding-bottom: 30px;
        padding-top: 80px;
        max-width: 552px;
        margin: 0 auto 0 auto;
    }
    .portfolio__slider-bg img {
        max-height: 400px;
    }
    .reviews__container {
        padding: 30px;
        min-height: 600px;
    }
    .reviews-title h3 {
        margin: 0 auto 60px auto;
    }
    .contact-us form {
        text-align: center;
    }
    .form__grid {
        column-gap: 40px;
    }
    .contact-us__button {
        width: 420px;
    }

    .footer__flex {
        flex-wrap: wrap;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .footer__logo {
        max-width: 100%;
        margin-bottom: 40px;
    }
    .footer .social svg {
        width: 30px;
        height: 30px;
    }
}

@media(max-width: 575px) {
    .header {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0) 100%), url(../img/background_header_575px.jpg) no-repeat center center / cover;
    }
    .contacts.burger__active {
        left: 30px;
        right: auto;
        top: 490px;
    }
    .contacts.contacts.burger__active .container {
        align-items: flex-start;
    }
    .header__main.container {
        margin-bottom: 100px;
    }
    .header__info {
        margin-top: 0;
    }
    .header__info-title {
        line-height: 100%;
    }
    .header__info-button {
        margin-top: 20px;
        width: 90%;
    }
    .header__main.container {
        margin-bottom: 60px;
    }
    .stages__diagrams-item {
        grid-column: span 3;
    }
    .benefits.container ul {
        padding: 0 20px 0 20px;
    }
    .benefits.container ul li {
        width: 40%;
    }
    .about-us__info {
        padding-left: 0;
    }
    .about-us__img .years {
        width: 40%;
        height: 50%;
    }
    .portfolio__desc.container__bl {
        padding: 0;
    }
    .portfolio__projects {
        padding-left: 15px;
    }
    .portfolio__slider-sm {
        margin: 0;
        display: none;
    }
    .reviews {
        background: rgba(82, 68, 64);
    }
    .reviews-title h3 {
        line-height: 100%;
        letter-spacing: -0.2px;
    }
    .reviews__container {
        min-height: 580px;
        padding: 30px 15px 30px 15px;
    }
    .form__grid input {
        grid-column: span 2;
    }
    .contact-us__button {
        width: 90%;
    }
    .footer__flex {
        padding-bottom: 10px;
    }
    .footer__nav {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer__nav ul {
        flex-direction: row;
        justify-content: start;
    }
    .footer__nav ul li{
        margin-right: 20px;
    }
    .footer__nav ul li:last-child {
        margin-right: 0px;
    }
    .footer__contact {
        max-width: 100%;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 30px;
    }
    .footer__contact p {
        max-width: 160px;
        margin-right: 20px;
    }
    .footer .social {
        width: 100%;
        flex-direction: row;
        justify-content: start;
    }
    .footer .social svg {
        margin-right: 50px;
    }
}